@keyframes slideInFromLeft {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .header {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromLeft;
    
    background: #333;
    padding: 30px;
  }